# Copy to ~/.config/fish/conf.d/secrets.fish (gitignored) and set your values:
#   cp secrets/fish/secrets.fish.example ~/.config/fish/conf.d/secrets.fish

# set -x GPG_PASSWORD "your-passphrase-here"
