# Copy to ~/.config/fish/conf.d/ssh.fish (gitignored) when needed:
#   cp secrets/fish/ssh.fish.example ~/.config/fish/conf.d/ssh.fish
#
# Prefer letting your OS or terminal set SSH_AUTH_SOCK automatically when possible.

# set -x SSH_AUTH_SOCK /tmp/ssh-XXXX/agent.NNNNN
# set -x SSH_AGENT_PID NNNNN
