.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Files 
/configstore/
/pulse/
/scoop/

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# Atom.io
.atom/packages/save-session
.atom/compile-cache
.atom/storage

# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64
home/.config/fish/config-local.fish
home/.config/fish/fish_variables
home/.config/fish/.last_cleanup_date
home/.config/fish/conf.d/secrets.fish
home/.config/fish/conf.d/ssh.fish

# Secrets and private keys (never commit)
secrets/password-store/exported-keys/private.pgp
secrets/password-store/exported-keys/public.pgp
!secrets/password-store/exported-keys/private.pgp.example
!secrets/password-store/exported-keys/public.pgp.example
**/private.pgp
**/secrets.fish
!**/secrets.fish.example
**/ssh.fish
!**/ssh.fish.example
.env
.env.*
!.env.example

# Karabiner
.config/karabiner/automatic_backups

# Personal
env

# junk
*.log
